@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
* { box-sizing: border-box; }

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

#navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  border-right: auto solid white;
}

.active {
  background-color: orange;
}

#navbar a:hover {
  background-color: #111;
  transition: background-color 0.3s;
  font-size: 20px;
}

body {
  background-color: rgb(240, 240, 240);
}

.colorful {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  font-family: 'Patua One', cursive;
  letter-spacing: 5px;
  margin-top: 60px;
}

.rainbow_text {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}